html {font-size: 18px;}

.container {width: 960px;
	          margin: 0 auto;
}
body {font-family: Helvetica;
      font-size: 1rem;

		}

.header {background-image: url(../images/moto.jpeg);
         padding: .66rem auto;
				 display: flex;
				 flex-direction: column;
				 justify-content: center;
				 height: 25rem;
				 margin-top: 0px;
				 background-size: cover;

}
.header .company {background-color: black;
	               display: flex;
								 justify-content: center;
								 align-content: center;
							   height: 5rem;
								 width: auto;
								 padding: .66rem auto;

}
.logo {height: 1.5em;
      margin-left: .5rem;
		  margin-right: 1rem;
			padding-top: .66rem;
			padding-bottom: .66rem;
		}
.companyname {padding-top: 1.5rem;
              padding-bottom: .66rem;
              font-size: 1.5rem;
						  color: white;
						}
.mainbanner {
	          margin-top: 9rem;
	          font-weight: bold;
						background-color: black;
						color: white;
						width: 20rem;
						padding: 2rem 3rem;
						margin-left: 25%;

}

.navigation{background-color: firebrick;
            color: white;
					  display: inline-flex;
						justify-content: space-around;
						width: 960px;
					  padding: .75rem;
					}

h2 {}
h1 {font-size: 2rem;
    padding-top: .25rem;}
p{}

.gridsection {background-color: white;
	            width: 960px;
}
.productgrid {display: flex;
							background-color: white;
							width: 100%;
							margin-bottom: 3rem;
							margin-top: 3rem;
}
.pen,
.watch,
.glasses {border: 4px solid black;
	        margin: 15px;
					width: 30%;
}
.glasses img {width: 200px;
}
.productgrid img {align-items: center;
									padding: 2rem;
									height: 9rem;

}
.gridsection .productgrid h2 {
								background-color: black;
	               text-align: center;
								 height: 40px;
								 color: white;
}

.otherstuff {display: flex;
	           justify-content: space-between;
					  margin-top: 3rem;
					  padding-left: 2rem;
					  background-color: white;}
.location,
.hours {display: flex;
	    flex-direction: column;
			justify-content: space-around;
			background-color: black;
			width: 35%;
			color: white;
}
.location h2,
.hours h2 {text-align: left;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

}
h3 {color: black;
	 background-color: white;
	 height: 4rem;
}
footer {padding-left: 40px;
        height: 5rem;
			  margin-top: 4rem;
			  background-color: black;
			  color: white;
			  padding-top: 60px;}

@media only screen and (max-width: 1024px;) {.mainbanner {
	          margin-top: 10rem;
	          font-weight: bold;
						font-size: .77rem;
						background-color: black;
						color: white;
						width: 100%;
						padding: 2rem 3rem;
 }
}
